::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $scrollbar-bcg-color;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: lighten($color: $scrollbar-color, $amount: 15%);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $main-font;
    font-size: $base-font-size;
    color: $main-color;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;

    @include phone {
        margin: 0 10px;
    }

    @include tablet {
        margin: 0 15px;
    }
}

a {
    color: $main-color;
    text-decoration: none;
}

img {
    display: block;
}

input {
    border-radius: 10px;
    border: none;
    padding: 7px;
}

button {
    border: none;
    background-color: $btn-color;
    color: $main-color;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 1.3rem;
    transition: 0.2s;

    &:hover {
        background-color: lighten($color: $btn-color, $amount: 10%);
    }
}

.fas {
    pointer-events: none;
}

.hide {
    display: none;
}