@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

$logo-font: 'Gloria Hallelujah', cursive;
$main-font: 'Changa', sans-serif;

$base-font-size: 16px;