$phone-max-width: 767px;
$tablet-max-width: 1024px;

@mixin phone {
  @media (max-width: $phone-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone-max-width + 1}) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-max-width + 1}){
    @content;
  }
}


@mixin hamburger {

  &::before,
  span,
  &::after {
    content: '';
    background-color: white;
    display: block;
    height: 6px;
    margin: 4px 0;
    transition: .3s ease-in-out;
  }

  &::before {
    content: '';
    border-radius: 5px 5px 0 0;
  }

}

@mixin hamburgerActive {

  &::before,
  span,
  &::after {
    content: '';
    background-color: #f9d101;
  }

  span {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  &::before {
    content: '';
    opacity: 1;
    transform: rotate(-60deg) translate(-9px, 6px);
  }

  &::after {
    content: '';
    transform: rotate(45deg) translate(-8px, -8px);
  }
}