.filters__category-list {
    position: absolute;
    top: calc(100% + 10px);
    min-width: 110px;
    background: $open-menu;
    border-radius: 10px;
    overflow: hidden;

    @include phone {
        z-index: 5;
        position: relative;
        min-width: 150px;
        margin-top: 10px;
    }

    &--colors-confirm {
        border-radius: 0;
        width: 100%;
        font-size: 1.3rem;

        @include phone {
            top: 0;
            position: sticky;
        }
        
        @include tablet{
            font-size: 1rem;
        }
    }

    &--is-open {
        display: none;
    }
}