.active-filters-section {
    background-color: $main-color;
    font-size: 1.3rem;

    @include phone {
        width: 100%;
        text-align: center;
        display: none;
    }
}

.active-filters {
    display: flex;
    align-items: center;
    color: $active-filters-color;

    @include phone {
        flex-wrap: wrap;
        background-color: $main-color;
        border-radius: 10px;
        overflow: hidden;
        padding: 5px;
    }

    &__name {
        margin: 10px 20px 10px 0;

        @include phone {
            width: 100%;
        }

        &--hits,
        &--fraze {
            font-weight: 600;
        }
    }

    &__list {
        display: flex;

        @include phone {
            flex-wrap: wrap;
            background: $main-color;
            justify-content: center;
        }

        &-item {
            display: flex;
            margin: 5px;
            border: 1px solid $active-filters-color;
            padding: 5px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                opacity: 0.5;
            }

            &-name {
                margin-right: 5px;
            }
        }
    }

}

.mobile-is-open--active-filters{
    display: block;
}