.filters__list {
    display: flex;
    justify-content: space-between;

    [data-filters-list-value="category"] {
        max-height: 60vh;
        overflow-y: scroll;
    }

    [data-filters-list-value="size"],[data-filters-list-value="color"]{
        right: 0;
    }

    @include phone {
        align-items: center;
        flex-direction: column;

        [data-filters-list-value="category"],
        [data-filters-list-value="color"] {
            max-height: 200px;
            overflow-y: scroll;
        }
    }
}